.tr {
  padding: 6px 2px;
  overflow: hidden; }
  .tr:hover {
    background: rgba(46, 154, 208, 0.12); }
  .trMain {
    overflow: hidden; }
  .trMore {
    display: none;
    overflow: hidden; }
  .tr-head {
    border-bottom: 1px dashed #253b4a;
    padding: 0 0 15px !important;
    margin-bottom: 14px !important; }
    .tr-head:hover {
      background: transparent; }
  .tr.open .trMore {
    display: block; }
  .tr.open .table__moreArrowIcon {
    left: 2px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1; }
  .tr.open .trMain .mark-bd {
    background: rgba(46, 154, 208, 0.2); }
  .tr.open .trMain .mark-bd.disabled {
    color: #2e9ad0; }
.td, .th {
  float: left;
  min-width: 200px;
  min-height: 30px; }
  .td.hover:hover, .th.hover:hover {
    cursor: pointer; }
    .td.hover:hover .table__moreArrowIcon, .th.hover:hover .table__moreArrowIcon {
      opacity: 1;
      cursor: pointer; }
    .td.hover:hover .mark-bd, .th.hover:hover .mark-bd {
      cursor: pointer;
      background: rgba(46, 154, 208, 0.2); }
    .td.hover:hover .mark-bd.disabled, .th.hover:hover .mark-bd.disabled {
      color: #2e9ad0; }

.th {
  font-size: 21px;
  text-transform: uppercase; }

.td {
  position: relative; }

.section-adresses {
  margin-bottom: 110px; }
  .section-adresses .tr {
    margin: 0 0 6px; }
  .section-adresses .th,
  .section-adresses .td {
    text-align: right;
    width: 33%; }
    .section-adresses .th:first-child,
    .section-adresses .td:first-child {
      text-align: left; }
    .section-adresses .th:last-child,
    .section-adresses .td:last-child {
      text-align: right; }
    .section-adresses .th .centerMode,
    .section-adresses .td .centerMode {
      max-width: 200px;
      margin: auto; }
  .section-adresses .link {
    padding: 0 2px;
    font-size: 14px; }
  .section-adresses.twoColumn .th,
  .section-adresses.twoColumn .td {
    width: 50%; }
    .section-adresses.twoColumn .th:first-child,
    .section-adresses.twoColumn .td:first-child {
      text-align: left; }
    .section-adresses.twoColumn .th:last-child,
    .section-adresses.twoColumn .td:last-child {
      text-align: right; }
